/* +++++++++++++++++++++++
+++ LAYOUT: VIBRATIONS +++
+++++++++++++++++++++++ */

.vibrations {
    padding-bottom: 0;

    &-showcase {
        @extend %flex;
        position: relative;
        grid-gap: 0;
        flex-direction: column;
        height: 100vh;

        &-panel {
            cursor: url('/assets/cursors/low-frequency.png'), auto;
            flex: 1 1em;
            margin: 0;

            &:before,
            &:after {
                content: '';
                position: absolute;
                pointer-events: none;
                visibility: hidden;
            }

            &:before {
                background: $black center/cover;
                bottom: 2em;
                top: 2em;
                left: 2em;
                right: 2em;
            }

            &:after {
                background: transparent center/cover;
                bottom: 0;
                top: 0;
                left: 0;
                right: 0;
            }

            &:hover:before,
            &:hover:after {
                visibility: visible;
            }

            &:nth-child(1n+5) {
                cursor: url('/assets/cursors/mid-frequency.png'), auto;

                &:before { background-image: url('/assets/patterns/Pattern-mid.jpg'); }
            }

            &:nth-child(1n+9) {
                cursor: url('/assets/cursors/high-frequency.png'), auto;

                &:before { background-image: url('/assets/patterns/Pattern-high.jpg'); }
            }

            &:nth-child(1):after { background-image: url('/assets/patterns/Pattern-1-1.png'); }
            &:nth-child(2):after { background-image: url('/assets/patterns/Pattern-1-2.png'); }
            &:nth-child(3):after { background-image: url('/assets/patterns/Pattern-1-3.png'); }
            &:nth-child(4):after { background-image: url('/assets/patterns/Pattern-1-4.png'); }
            &:nth-child(5):after { background-image: url('/assets/patterns/Pattern-2-1.png'); }
            &:nth-child(6):after { background-image: url('/assets/patterns/Pattern-2-2.png'); }
            &:nth-child(7):after { background-image: url('/assets/patterns/Pattern-2-3.png'); }
            &:nth-child(8):after { background-image: url('/assets/patterns/Pattern-2-4.png'); }
            &:nth-child(9):after { background-image: url('/assets/patterns/Pattern-4-1.png'); }
            &:nth-child(10):after { background-image: url('/assets/patterns/Pattern-4-2.png'); }
            &:nth-child(11):after { background-image: url('/assets/patterns/Pattern-4-3.png'); }
            &:nth-child(12):after { background-image: url('/assets/patterns/Pattern-4-4.png'); }
        }
    }

    @include break(medium) {
        &-showcase {
            &-panel {
                flex: 1 25%;

                &:before {
                    bottom: 4em;
                    top: 4em;
                    left: 4em;
                    right: 4em;
                }
            }
        }
    }
}
